# -----------------------------
# Python cache and build files
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

build/
dist/

# -----------------------------
# Virtual environments
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# IDE and notebook artifacts
# -----------------------------
.ipynb_checkpoints/
.vscode/
.spyproject/
.idea/

# -----------------------------
# Claude Code
# -----------------------------
.claude/

# -----------------------------
# Logs and temporary files
# -----------------------------
logs/
*.log
tmp/
temp/
*.tmp

# -----------------------------
# Scientific/data output files
# -----------------------------
*.vtk
*.ctf
*.inp
*.vti
*.vtu
*.msh
*.h5
*.xdmf
*.inp
*.odb
*.npy
*.npz

# -----------------------------
# Project-specific ignored paths
# -----------------------------
src/upxo/geoEntities/edge2d_old.py
src/upxo/geoEntities/point2d_old.py
src/upxo/geoEntities/point2d_old_important.py
src/upxo/meshing/mesher2d_ChrisHardie.py
src/upxo/meshing/mesher_2d_BU1.24012026.py
src/upxo/meshing/mesher_2d_BU2.25012026.py
src/upxo/meshing/nonConformalMesher - Copy.py
src/upxo/ggrowth/mcgs_bu.py
src/upxo/pxtal/mcgs3_temporal_slice - bu18102025.py
src/upxo/pxtal/mcgs3_temporal_slice - Copy.py
/admin/
/data/upxo_performance
/data/images
src/upxo/Important links.md
data/temp/
data/cache/
data/logs/

# Ignore all files under demos
/src/upxo/demos/**
# But keep the folder structure
!/src/upxo/demos/
!/src/upxo/demos/**/
# Keep placeholder files if needed
!/src/upxo/demos/**/.gitkeep

# Ignore all files under scripts
/src/upxo/scripts/**
# Keep the folder structure
!/src/upxo/scripts/
!/src/upxo/scripts/**/
# Keep placeholder files
!/src/upxo/scripts/**/.gitkeep

# Ignore the tutorials forlder completely
/src/upxo/tutorials/
/src/upxo/profiling/
/src/upxo/tests_and_benchMarks/
/src/upxo/external/GRFsaw/

# notebooks still outside ignored folders
*.ipynb
/src/upxo/ggrowth/Untitled-2.ipynb
*.o
*.c
*.exe

/src/upxo/__glbbckup/